<?xml version="1.0" encoding="UTF-8"?><rss xmlns:g="http://base.google.com/ns/1.0" version="2.0">
{# 商品データ仕様: https://support.google.com/merchants/answer/7052112?hl=ja&ref_topic=6324338 #}
	<channel>
	<title>{{ BaseInfo.shop_name }}</title>
	<link>{{ app.request.getSchemeAndHttpHost }}{{ app.request.requestUri }}</link>
	<description>{{ BaseInfo.message }}</description>	
	{% for ProductClass in pagination %}
		<item>
			<g:id>{{ ProductClass.code }}</g:id>
			<g:title>{{ ProductClass.Product.name }}</g:title>
			<g:description>{{ ProductClass.Product.description_list|striptags }}</g:description>
			<g:link>{{ url('product_detail', {'id': ProductClass.Product.id}) }}</g:link>
			<g:image_link>{{ app.request.getSchemeAndHttpHost }}{{ asset(ProductClass.Product.main_list_image|no_image_product, 'save_image') }}</g:image_link>
			<g:condition>{{ ProductClass.gmc_condition }}</g:condition>
			<g:availability>{% if ProductClass.stock_unlimited or ProductClass.stock > 0 %}in_stock{% else %}out_of_stock{% endif %}</g:availability>
			<g:price>{{ ProductClass.price02_inc_tax }} JPY</g:price>
			<g:brand>{{ ProductClass.Product.gmc_brand }}</g:brand>
			{% if ProductClass.gmc_gtin %}
			<g:gtin>{{ ProductClass.code }}</g:gtin>
			{% else %}
			<g:mpn>{{ ProductClass.code }}</g:mpn>
			{% endif %}
			<g:google_product_category>{{ ProductClass.Product.gmc_category }}</g:google_product_category>
			<g:item_group_id>{{ ProductClass.Product.id }}</g:item_group_id>
			{{ _self.class_type( ProductClass.ClassCategory1 ) }}
			{{ _self.class_type( ProductClass.ClassCategory2 ) }}
			{% if ProductClass.Product.gmc_hide %}<g:pause>ads</g:pause>{% endif %}
		</item>
	{% endfor %}
	</channel>
</rss>

{% macro class_type( ClassCategory ) %}
	{% if ClassCategory is not null %}
		{% set ClassType = ClassCategory.ClassName.gmc_class_type %}
		{% if ClassType is not null and ClassType != "--" %}
			<g:{{ClassType}}>{{ClassCategory.name}}</g:{{ClassType}}>
		{% endif %}
	{% endif %}
{% endmacro %}
